/* credit to @ladyaeva for working the wonderful flexbox magic to get this working!! */
@media (min-width: 769px) {
	.flexy {
		display: flex;
		width: 100%;
	}
	.content_container, .nav_container {
		display: flex;
	}
	.nav_container {
		order: 0;
		flex-direction: column;
		width: 25%;
	}
	.content_container {
		order: 1;
		width: 75%;
	}
	.content {
		width: 100%;
	}
	.content_container .head {
		display: none;
	}
	/*set this to some em value accomodating an expanded nav*/
	.nav {
		min-height: 600px;
	}
}
@media (max-width: 769px) {
	.flexy {
		display: block;
	}
	.nav_container .head {
		display: none;
	}
	.content {
		max-width: 100%;
	}
	img {
		width: 100%;
	}
}
body {
	/*	height: 800px;*/
	font: 18px "Dejavu Sans";
	color: #000;
	background-image:url("../img/bkg3e.png");
}	
h1 {
	font-size: 2em;
	text-align: center;
	margin: 0px;
}
h2 {
	font-size: 1.7em;
	margin: 0px;
}
h5 {
	font-size: 1em;
	margin:0px;
}
img {
	border: 2px solid #000;
	height: auto;
}
.fav {
	border: none;
}

.favtd {
	font-size: 0.8em;
	padding: 5px;
}

#jokebots {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}	

img.emoji {
	border: none;
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.biocontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.biobox {
	flex: 1;
	padding: 1em;
}
	

.nav, .head, .content, .foot {
	background: #ee6a9b;
	margin: 9px;
	padding: 1em;
	border: 6px solid #000;
	border-radius: 32pt;
}
.nav {
	padding: 2em;
}
.content {
	padding: 2em;
	text-align: center;
}
.foot {
	text-align: center;
}

ul.tree, ul.tree ul {
	list-style-type: none;
	background: url(../img/vline.png) repeat-y;
/*	background-position: 0% 10px;*/
	margin: 0;
	padding: 0;
}

ul.tree ul {
	margin-left: 10px;
}

ul.tree li {
	margin: 0;
	padding: 0 12px;
	padding-bottom: 10px;
	line-height: 20px;
	background: url(../img/node.png) no-repeat;
}

ul.tree li.last {
	background: #ee689b url(../img/lastnode.png) no-repeat;
}

a:link {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #fff;
	-webkit-transition:color 300ms ease-in; 
}
a:active {
	color: #fff;
}
